.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detailText {
  display: flex;
  align-items: center;
  gap: 20px;
}
.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}
